.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  background-color: #000040;
}

.title h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #ffffff;
}

.subtitle p {
  margin: 5px 0 0;
  font-size: 1.2rem;
  color: #e4e4e4;
}

@media (max-width: 720px) {
  .headerContainer {
    flex-direction: column;
    text-align: center;
  }

  .title h1 {
    font-size: 2rem;
  }

  .subtitle {
    margin-top: 10px;
  }
}
