@import "./styles/tokens.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);

  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--space-lg);
  background-image: linear-gradient(
    135deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}
